.downloadGalleryWrapper {
  width: 70vw;
  position: relative;
  height: fit-content;
  margin: 20px auto;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.michaelGodabreli {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 300;
  width: 100%;
  margin-top: 20px;
}

.galleryTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 30px;
  font-weight: 200;
}

.homeButton {
  display: flex;
  align-items: center;
}

.homeButton a {
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  color: black;
  transition: 0.3s;
  font-weight: 200;
}

.homeButton a:hover {
  transform: scale(1.1);
}

#downloadGallery {
  width: 100%;
  height: fit-content;
}

@media (max-width: 768px) {
  .downloadGalleryWrapper {
    width: 95vw;
  }

  .michaelGodabreli {
    font-size: 29px;
  }

  .galleryTitle {
    font-size: 24px;
  }
}
