.home-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  gap: 40px;
  background-image: url("/images/hintergrundsBild.jpg");
  background-position: center center;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: rgb(212, 191, 159);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.michaelGodabreli {
  font-size: 60px;
  display: flex;
  gap: 40px;
}

.links {
  display: flex;
  gap: 40px;
  font-size: 25px;
}

.links span {
  cursor: pointer;
  display: flex;
  transition: transform 0.3s;
}

.links span:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerLinks {
  display: flex;
  gap: 20px;
}

.footerLinks a {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  color: rgb(212, 191, 159);
  text-decoration: none;
  transition: 0.3s;
}

.footerLinks a:hover {
  transform: scale(1.1);
}

.copyright {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  color: rgb(212, 191, 159);
}

@media (max-width: 900px) {
  .michaelGodabreli {
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .links {
    font-size: 20px;
  }
}
