h5 {
  font-family: system-ui;
  font-size: 20px;
  margin: 15px 0;
}

.impressum {
  width: 60vw;
  margin: auto;
}

.backErrow {
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  transition: 0.3s;
}

.backErrow:hover {
  transform: scale(1.1);
}
