.mobileNavBarWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding-top: 200px;
  padding-left: 50px;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 200;
}

.closeMobileNavbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 15px;
}
